<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome brainwashing</title>

    <style>
      h1 {
        font-family: monospace;
        font-size: 64px;
        color: #B03060;
      }
    </style>
  </head>
  <body>
    <h1><%= assigns[:message] %></h1>
  </body>
</html>
