<!-- some weird shit -->
<style>
  .git-status {
    position: fixed;
    top: 50px;
    right: 50px;

    width: 250px;
    min-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
  }

  .git-status > p {
    margin: 5px 0;
  }
</style>

<div class="git-status">
  <% if assigns[:error_message] %>
    <p class="alert"><%= assigns[:error_message] %></p>
  <% else %>
    <p class="branch">Branch: <%= assigns[:branch] %></p>
    <p class="revision">Revision: <%= assigns[:revision] %></p>
    <p class="changes">Changes: <%= assigns[:changes] %></p>
  <% end %>
</div>
